<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rh.mybase.mapper.LoginMapper">
    <select id="getUserByUser" resultType="com.rh.mybase.entity.User">
        SELECT * FROM User WHERE username=#{username} and password=#{password}
    </select>

</mapper>